<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="caret-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes do manga</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  @if(!!mangaDetail){
    <div class="image-manga-container">
      <img [src]="mangaDetail?.thumb" alt="">
    </div>
    <div style="padding: 1rem">
      <h1><ion-text>{{mangaDetail?.title}}</ion-text></h1>
      <span>Subtitle: {{mangaDetail?.sub_title}}</span>
      <p>Authors: @for(author of mangaDetail?.authors; track author; let index = $index){
        @if(index+1 === mangaDetail.authors?.length){
          {{author}}
        } @else {
          {{author}},
        }
      }</p>
      <p>Genres: @for(genre of mangaDetail?.genres; track genre; let index = $index){
        @if(index+1 === mangaDetail.genres?.length){
          {{genre}}
        } @else {
          {{genre}},
        }
      }</p>
      <p></p>
      <p>
        <ion-text><b>Summary</b>: {{mangaDetail?.summary}}</ion-text>
      </p>
    </div>
  }
</ion-content>
